MONGODB_HOST=localhost
MONGODB_PORT=3306
MONGODB_USER=user
MONGODB_PASSWORD=password
MONGODB_BACKUP_FOLDER="${HOME}/backup/Database/MongoDB"
MONGODB_BACKUP_FILE="full_backup"
MONGODB_BACKUP_RETENTION=7
MONGODB_AUTHENTICATION_DATABASE=admin
